<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Alura Receitas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <script src="" async defer></script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Alura Receitas</h1>
        <h2>Seja bem vindo ao site</h2>

        <table>
            <thead>
                <tr>
                    <td>Nome da Receita
                    </td>
                    <td>Ingredimentes
                    </td>
                    <td>Modo de Preparo
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Suco verde
                    </td>
                    <td>Folhas Verdes, 1 maça, 1 cenoura
                    </td>
                    <td>Bata tudo no liquidificador
                    </td>
                </tr>
            </tbody>

        </table>

        
    </body>
</html>